.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

aside{
  width:250px;
  height:520px
}

.feras-fotinha{
  display:inline-block;
  width:30px;
  height:30px
}

.count{
  font-size:13px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.team{ 
  background-color: #0e0e10;
}

.team-header{
  background: rgb(24, 24, 27);
  height: 50px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.twitch-icon{
  background: rgb(24, 24, 27) url("./twitch.png") no-repeat center; 
  background-size: contain ;
  height: 40px;
  width:40px;
}

nav>ul>li{
  display: inline-block;
}

a{
  color: white;
  text-decoration: none;
}

.team-box{
  background-color: rgb(38, 38, 44);
}

.fera-fotinha-preview{
  height: 40px;
  width: 40px;
}

.preview{
  height: 516px
}

.text-red>svg{
  fill: red;
}

.statsButton{
  display:inline-block;
  height: 20px;
  width: 20px;
  color: #FFF;
  line-height: 20px;
  background:rgb(24, 24, 27)
}

svg{
  height: 15px;
  width: 15px;
  fill: rgb(173, 173, 184);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
